/*
 * テーマカラー
 */
$yellow: hsl(48, 100%, 67%);
$red: hsl(348, 100%, 61%);

$theme-color-1: #21e6c1;
$theme-color-2: #278ea5;
$theme-color-3: #1F4287;

$primary: $theme-color-2;
$info: $theme-color-3;
$success: $theme-color-1;
$warning: $yellow;
$danger: $red;

$bg-color-1: #2c3033;
$bg-color-2: rgb(43, 43, 43);

$text-color-main: #f9f9f9;
$text-color-sub: #939395;

$border-color: rgb(68, 68, 68);

$link: $theme-color-2;
$link-hover: $theme-color-1;

$radius-small: 1px;
$radius: 2px;
$radius-large: 3px;

/**
 * form
 */
$label-color: $text-color-sub;
$label-weight: 400;

/**
 * elements
 */

/**
 * Layout
 */
$column-gap: 0;

/*
 * Components
 */
$input-color: $text-color-sub;
$input-background-color: $bg-color-2;
$input-border-color: $border-color;
//$input-height: $control-height !default
//$input-shadow: inset 0 1px 2px rgba($black, 0.1) !default

$input-hover-color: $text-color-sub;
//$input-hover-border-color: $grey-light !default

$input-disabled-color: $text-color-sub;
$input-disabled-background-color: $bg-color-1;
$input-disabled-border-color: $bg-color-1;

$card-color: $text-color-sub;
$card-background-color: $bg-color-1;
$card-shadow: none;

$card-header-background-color: $bg-color-1;
$card-header-color: $text-color-sub;
//$card-header-shadow: 0 1px 2px rgba($black, 0.1) !default
$card-header-weight: 400;

$card-content-background-color: $bg-color-1;

/**
 * スクロールバー
 */
/*スクロールバー全体*/
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
}

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";